# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# AWS
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Docker
*.log

# Models
*.joblib
*.pkl

# Archives
*.zip
